<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 2 Playground</title>
</head>
<body>
    <div id="app">
        <span>{{title}}</span>
        <p>{{message}} => {{reverseWord}}</p>
        <input v-model="message">
        <component-a bigheader="In Global Component"></component-a>
        <my-button></my-button>
        <hr>
        <review-form @add-review="saveReview"></review-form>
        <review-list :reviews="reviews"></review-list>
    </div>
    <!--Import Components-->
    <script src="components/counterClick.js"></script>
    <script src="components/ReviewForm.js"></script>
    <script src="components/ReviewList.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
